@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  body {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #e1fff2;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    text-transform: uppercase;
    font-size: 36px;
    margin: 8px;
    padding: 16px 24px;
    outline: none;
    border: none;

    --squircle-smooth: 0.8;
    --squircle-radius: 20px;
  }

  .fill {
    background: black;
    color: white;
    mask-image: paint(squircle);
  }

  .outline {
    background: paint(squircle);
    --squircle-outline: 2px;
    --squircle-fill: black;
  }

  .gradient {
    background: linear-gradient(122.37deg, #ff0000 6.31%, #00ffa3 85.76%);
    mask-image: paint(squircle);
    color: white;
  }

  .shadow {
    background: paint(squircle);
    --squircle-fill: #e1fff2;
    filter: drop-shadow(-1px 10px 10px #a198b1);
  }

  .image {
    color: white;
    mask-image: paint(squircle);
    background-color: #8321ff;
    background-image: url(https://pavellaptev.github.io/squircle-houdini-css/static/media/zebra.085af00e.png);
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full flex-row items-center justify-between bg-dark-2 px-6 py-3;
  }
}
